In [4]:
#1. In the below elements which of them are values or an expression? eg:- values can be integer or string and expressions will be mathematical operators.
#* 
#'hello'
#-87.8
#- 
#/ 
#+	
#6

In [14]:
#* ->  expression
#'hello' -> string value
#-87.8 -> float value
#- -> expression
#/  -> expression
#+	-> expression
#6  -> integer value

In [3]:
#2. What is the difference between string and variable?

In [22]:
# string are data whereas variable are syombols used to store that data in program.
# string exists within single quotes or double quotes
#example:-
'this is string' or " this is string"
# variable are used to assigned string data.
#example:-
a = "this is a data assigned to a variable"
# a is variable

In [5]:
#3. Describe three different data types.

In [23]:
# string -> used to store characters in python -> example "this is string"
# numeric -> used to store numeric value in python -> example a=125 ,b=138 
# list -> used to store the collection of data types elements and it is mutable -> example l=[1,2,"abc",2+5j]

In [6]:
#4. What is an expression made up of? What do all expressions do?

In [25]:
# an expression is any legal combination of symbols (like a variable, constants, and operators) representing a value.
# an expression must have at least one operand (variable or constant) and have one or more operators. After evaluating an expression, we get a value.
# example :- 
a=56
b=86
c=a+b
print(c)

142

In [7]:
#5. This assignment statements, like spam = 10. What is the difference between an expression and a statement?

In [28]:
# a statement does something, like creating a variable or displaying a value, it only does whatever the statement says whereas an expression always evaluates to a value.
spam=10 # in this statement the value "10" is store in "spam" variable
print(spam)

10

In [29]:
#6. After running the following code, what does the variable bacon contain?
bacon = 22
bacon + 1

23

In [32]:
#7. What should the values of the following two terms be?
#'spam' + 'spamspam'
#'spam' * 3

In [34]:
# output is same in both
'spam' + 'spamspam'

'spamspamspam'

In [35]:
'spam' * 3

'spamspamspam'

In [10]:
#8. Why is eggs a valid variable name while 100 is invalid?

In [37]:
# in python we cannot start variable name with a number so 100 is invalid

In [11]:
#9. What three functions can be used to get the integer, floating-point number, or string version of a value?

In [40]:
# for integer -> int function
# for floating-point number -> float function
# for string -> str function

In [13]:
#10. Why does this expression cause an error? How can you fix it?
#'I have eaten ' + 99 + ' burritos.'

In [38]:
'I have eaten ' + 99 + ' burritos.'

TypeError: can only concatenate str (not "int") to str

In [39]:
# the data of 99 is an interger so it cannot added to string so we need to convert 99 into string data type by simple assigned in double qoute or single quote.
'I have eaten ' + '99' + ' burritos.'

'I have eaten 99 burritos.'